extends _layout.pug

block var
	-var url = './'
	-var link = 'html/'

block title
	title 首頁

block css
	link(href='./css/index.css' rel='stylesheet')

block content

block js
	script(src='./js/index.js')